.phone-contact{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.contact-wrapper{
    position: absolute;
    top : 70px;
    z-index: 99;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
.top-text{
    display: flex;
    align-items: center;
    line-height: 3px;
    margin-left: 10px;
}
.phone-contact .top-text h3{
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: 500;
    color : black
}
.phone-contact .detail{
    margin-left: 10px;
    margin-top: 20px;
}
.phone-contact .detail p{
    font-size: 12px;
    color: rgb(29, 28, 28);
}
.phone-contact .detail .contact{
    display: flex;
    align-items: center;
}
.phone-contact .detail .contact p{
    font-size: 14px;
    color: black;
    margin-right: 20px;
}
.phone-contact .detail .contact input, .phone-contact .detail .contact select{
    border: none;
    padding: 10px 5px;
}
.detail input:focus, .detail select:focus{
    outline: none;
}
.contact-wrapper .buttons{
    width: 100%;
    margin-top: 60px;
}
.contact-wrapper .buttons button{
    width: 90%;
    margin: 0px 17px;
}