.bottom-banner{
    background: #2766CC;
    width: 100%;
    padding: 50px 0;
    margin-top: 10px;
}
.bottom-banner .wrapper{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.truck, .protection, .support{
    text-align: center;
    color: white;
}
.wrapper p{
    margin-bottom: 0px;
}
.fa-truck, .fa-certificate, .fa-headset{
    color: #F8DE4B;
    font-size: 35px;
}
@media only screen and (max-width: 480px){
    .bottom-banner{
        padding: 30px 0;
    }
    .bottom-banner .wrapper{
        width: 90%;
    }
    .wrapper p{
        font-size: 13px;
    }
}