
@media only screen and (max-width:480px){
    .code-verification .verify-wrapper{
        width: 80%;
        height: 300px;
    }
    .code-verification .large-text h3{
        font-size: 14px;
        margin-left: 30%;
    }
    .code-verification .inner-text{
        font-size: 12px;
        line-height: 20px;
    }
}
